<%= form_with(model: pick, id: dom_id(pick)) do |form| %>
  <% if pick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

      <ul>
        <% pick.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <input type="search" id="player_chooser" name="player_chooser" placeholder="Enter name..." data-behavior="autocomplete" >

  <%= form.hidden_field :draft_id, value: @draft.id %>
  <%= form.hidden_field :player_id, value: nil %>

  <div class="actions">
    <%= form.submit "Submit Pick" %>
  </div>
<% end %>
