<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @draft.title %>
</p>

<p>
  <strong>League:</strong>
  <%= @draft.league.name %>
</p>

<%= render 'picks/form', pick: @pick %> 



<%= turbo_stream_from "picks" %>
  <%= turbo_frame_tag "picks" do %>
    <% if @picks %>
      <%= render @picks %>
    <% else %>
    <h3>No picks yet.</h3>
    <% end %>
  <% end %> 



<%= link_to 'Edit', edit_draft_path(@draft) %> |
<%= link_to 'Back', drafts_path %>
